# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
_docs/_build/
_docs/source/pages/reference/*.rst
_docs/source/pages/reference/generated/

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# eclipse
.project
.pydevproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Rhino
*.3dmbak
*.rws
*.3dm.rhl

# vscode
.vscode/*
*.code-workspace
ur_online_control/commands_group_01_test.json
ur_online_control/communication/main_direct_send_group_01_IO-change.py
ur_online_control/grasshopper/191028_ur_online_control_gh_group_01_EM.gh
